.accordion {
  --bs-accordion-btn-bg: ;
}
.accordion {
  --bs-accordion-active-bg: rgba(15, 113, 15, 0.904);
  --bs-accordion-active-color: white;
}

.anchor:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
#heading6{
    font-weight: 1000;
}
.textDeco{
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
}
.btnHome{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

